includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src
        - tests

    # Fix, Internal error: get_class\(\) expects parameter 1 to be object, string given
    excludePaths:
        analyseAndScan:
            - tests/TestCase.php

    # The level 9 is the highest level, change to max level
    level: 6

    checkMissingIterableValueType: false